<div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>

  <form id="new-post-form" class="card-body">
    <div id="post_title">
        <label class="form-label" for="post-title">Name your post</label>
        <input id="post-title" name="post-title"/>
    </div>
 
    <label class="form-label" for="post-body">Content</label>
    <textarea name="post-body" id= "new-post-content" class="form-input"></textarea>

    <button id="create"type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/post.js"></script>